input,
.input input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  border: none;
  &:hover,
  &:focus {
    outline: darken($color-e, 10%);
    // background-color
  }

  &:active {
  }
}

.form {
  &--container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  display: flex;
  &--bot {
    position: absolute;
    left: -5000px;
  }
  &--hide {
    display: none;
  }
  &--email {
    height: 100%;
    background-color: $color-e;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 500px;
    font-size: 1.5rem;
  }
  &--submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: $color-b;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all ease-in-out 0.2s;
    color: $color-e;
    &:hover,
    &:focus {
      background-color: $color-b;
      // background-color
    }

    &:active {
      background-color: $color-b;
    }
  }
}
