/***
**
** MOBILE
**
**
***/

.nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: fixed;
  top: 0px;
  background-color: $color-b;
  & > * {
    // flex-grow: 1;
    // flex-shrink: 1;
  }
  .mark {
    h4 {
      color: $color-a;
    }
    svg {
      width: 50px;
      height: 70px;
    }
  }

  ul {
    list-style-type: none;
  }
  &--items {
    display: flex;
    justify-content: space-between;
  }
  &--item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .sidenav {
    &--toggle {
      svg {
        font-size: 2rem;
      }
    }
    &--primary {
      z-index: 3;
      padding: 1rem;
      position: fixed;
      top: 3rem;
      right: 0px;
      height: 100%;
      background-color: $bg-primary;
      .nav {
        &--items {
          flex-direction: column;
        }
      }
    }
  }
}

/***
**
** > 800 px
**
**
***/
